/* base */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    line-height: normal;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #142239;
    background-color: #ffffff;
}

a,
a:hover {
    cursor: pointer !important;
    color: #ffffff;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer !important;
}

input:hover,
button:hover {
    cursor: pointer !important;
    border: 0;
    outline: none;
}

input:focus,
button:focus {
    cursor: pointer !important;
    box-shadow: none !important;
    border: none;
    outline: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1570px;
    padding: 0 10px 0 10px;
}

@media (max-width: 1400px) {
    .container {
        max-width: 1440px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 991px;
        padding: 0 15px 0 15px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 575px;
        padding: 0 20px 0 20px;
    }
}

.title {
    font-style: normal;
    font-weight: 900;
    font-size: 65px;
    line-height: 105%;
    margin-bottom: 80px;
    text-align: center;
}
@media (max-width: 991px) {
    .title {
        font-size: 47px;
        margin-bottom: 50px;
    }
}
@media (max-width: 768px) {
    .title {
        font-size: 40px;
        text-align: start;
    }
}
@media (max-width: 575px) {
    .title {
        font-size: 30px;
        margin-bottom: 35px;
    }
}
.color-violet {
    color: #7f2ae4;
}

.btn-general {
    background: linear-gradient(132.78deg, #684ecc -27.09%, #920af7 119.69%);
    box-shadow: 0px 15px 30px -10px #c19fed;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #ffffff;
    max-width: 270px;
    width: 100%;
    padding: 17px 0;
    transition: 0.3s;
}
.btn-general:hover {
    transition: 0.3s;
    transform: scale(1.04);
}
@media (max-width: 991px) {
    .btn-general {
        background: linear-gradient(132.78deg, #684ecc -27.09%, #920af7 119.69%);
        box-shadow: none;
        border-radius: 5px;
        width: 280px;
        max-width: inherit;
        padding: 15px 0;
    }
    .input-general {
        border-radius: 5px;
        font-size: 14px;
        line-height: 18px;
        padding: 17px 0 17px 18px;
        color: #c4c4c4;
    }
}
.input-general {
    background-color: #ffffff;
    border: 0.5px solid #7f2ae4;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    font-size: 18px;
    line-height: 140%;
    font-style: normal;
    font-weight: normal;
    padding: 17px 0 17px 25px;
    color: #c4c4c4;
}
.input-general:hover {
    border: 0.5px solid #7f2ae4;
}
.input-general:focus {
    border: 0.5px solid #7f2ae4;
}
@media (max-width: 991px) {
    .input-general {
        border-radius: 5px;
        font-size: 14px;
        line-height: 18px;
        padding: 17px 0 17px 18px;
        color: #c4c4c4;
    }
}
/* base */

/* модалка */
.modal-dialog {
    max-width: 1060px;
}
.btn-close {
    position: absolute;
    right: 32px;
    top: 32px;
    background: transparent url(../img/0-modal/close.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}
.modal-content {
    border: none;
    border-radius: 0;
    background-color: #f8f8f8;
    padding: 85px 60px 55px 135px;
}
.title-modal {
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 61px;
    color: #684ecc;
}
.modal-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    max-width: 330px;
}
.input-modal {
    max-width: 375px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
}
.btn-modal {
    max-width: 375px;
    border-radius: 5px;
    box-shadow: none;
}
/* модалка */

/* Спасибо */
.thanks-list {
    z-index: 10000;
    top: 20px;
    margin: 1.75rem auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1060px;
    background-color: #f8f8f8;
    border: 1px solid rgb(207, 207, 207);
    padding: 162px 63px 162px 185px;
}
.thanks-closed {
    right: 30px;
    top: 30px;
}
/* Спасибо */

/* контент */

/* header */
.header {
    background-image: url(../img/1-header/header-bgc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -45px;
    padding-top: 140px;
    padding-bottom: 77px;
}
.header-logo {
    margin-bottom: 98px;
}
.header-title-mini {
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 130.02%;
}
.header-title {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 56px;
    line-height: 120%;
    text-transform: uppercase;
    color: #7f2ae4;
}
.header-click {
    background: #ffffff;
    border-radius: 10px;
    padding: 21px 0 21px 22px;
    width: 100%;
    max-width: 675px;
}
.header-click__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}
.header-big {
    height: 100%;
    max-width: 880px;
}
/* header */

/* advantages */
.advantages {
    padding: 50px 0 165px;
}
.advantages-block {
    margin-bottom: 58px;
}
.advantages-number {
    max-width: 280px;
    width: 100%;
}
.advantages-number__title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
}
.advantages-number__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.active-element {
    height: 8.5px;
    width: 8.5px;
    background-color: #9d9b9b;
    border-radius: 50%;
}
.active-element__violet {
    height: 14px;
    width: 14px;
    background-color: #7f2ae4;
}
/* advantages */

/* about-us */
.abouts-us {
    padding: 147px 0 163px;
    background-color: #f4f9ff;
}
.abouts-us-img {
    margin-left: 90px;
}
.title-bout-us {
    top: 185px;
    transform: rotate(-90deg) translateY(-100%);
}
.abous-us__text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130.19%;
    max-width: 830px;
    margin-bottom: 122px;
}
.about-us__number__element {
    position: relative;
}
.about-us__number__element::before {
    position: absolute;
    content: "";
    display: block;
    width: 1.5px;
    height: 65px;
    background-color: #000000;
    right: -20px;
    top: 10px;
}
.about-us__number__element:last-child::before {
    display: none;
}
.abous-us__element__title {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.02em;
}
.abous-us__element__text {
    width: fit-content;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.02em;
}
/* about-us */

/* cases */
.cases {
    margin-top: 165px;
    padding-bottom: 430px;
    z-index: 0;
}
.cases-town {
    margin-bottom: 120px;
}
.cases-town:last-child {
    margin-bottom: 0px;
}
.cases-town__left {
    max-width: 470px;
}
.cases-town__title {
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 117px;
    text-transform: uppercase;
    color: #7b2fdf;
    opacity: 0.3;
}
.cases-town__name {
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 38px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #684ecc;
    margin-bottom: 30px;
}
.cases-town__number--title {
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 68px;
}
.cases-town__number--title::before {
    position: absolute;
    display: table;
    content: "";
    width: 22px;
    height: 22px;
    background-image: url(../img/4-cases/list-element.svg);
    left: 0;
    transform: translate(-195%, -50%);
    top: 50%;
    background-repeat: no-repeat;
}
.cases-tow__text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
}
.img-town {
    width: 100%;
    max-width: 690px;
}
.circle-1 {
    top: 0;
    right: 0;
    z-index: -1;
}
.circle-2 {
    top: 29%;
    z-index: -1;
    left: 0;
}
.circle-3 {
    bottom: 190px;
    right: 0;
    z-index: -1;
}
/* cases */

/* working */
.working {
    margin-bottom: 160px;
}

.general-card {
    width: 100%;
    max-width: 375px;
    z-index: 0;
}
.working-step {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
}
.working-card__title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
}
.working-card__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 272px;
}
.working-card-number {
    font-style: normal;
    font-weight: bold;
    font-size: 200px;
    line-height: 75%;
    background-image: linear-gradient(to bottom left, rgba(98, 85, 198, 0.369), rgba(145, 9, 246, 0.369));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    top: 40px;
}
.working-card-number__one {
    right: 50px;
}
.working-card-number__two {
    right: 40px;
}
.working-card-number__three {
    right: 11px;
}
.working-card-number__four {
    right: 20px;
}
/* working */

/* big-form */
.big-form {
    margin-bottom: 160px;
}
.form-block-form {
    z-index: 0;
}
.big-form__general {
    width: 750px;
    background-color: #ffffff;
    box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
    border-radius: 20px;
    padding: 65px 80px 60px;
}
.big-form__substrate {
    width: 790px;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
    border-radius: 20px;
    bottom: -20px;
    left: -20px;
    z-index: -1;
}
.btn-big-form {
    max-width: 545px;
}
.big-form__input {
    max-width: 545px;
    box-shadow: 0px 15px 30px -10px rgba(193, 159, 237, 0.4) !important;
}
.big-form__input:focus {
    box-shadow: 0px 15px 30px -10px rgba(193, 159, 237, 0.4) !important;
}
.big-form__input:hover {
    box-shadow: 0px 15px 30px -10px rgba(193, 159, 237, 0.4) !important;
}
.big-form-title {
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 105%;
}
.big-form-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 545px;
}
.git-form-img {
    max-width: 375px;
}

/* big-form */

/* attention */
.attention {
    margin-bottom: 100px;
}
.attention-text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    max-width: 450px;
}
.attention-card {
    background: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 32px 42px 67px;
}
.attention-card__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}
.attention-card__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}
/* attention */

/* контент */

/* подвал */
.footer {
    background-color: #7f2ae4;
    padding: 40px 0;
}
.footer-text {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 125%;
    color: #ffffff;
}
/* подвал */
