@media (max-width: 1570px) {
    /* контент */

    /* header */
    .header-big {
        max-width: 740px;
    }
    /* header */

    /* about-us */
    .title-bout-us {
        top: 70px;
    }
    .abouts-us-img {
        width: 430px;
    }
    .abous-us__text {
        font-size: 20px;
        max-width: 640px;
        margin-bottom: 85px;
    }
    .abous-us__element__text {
        font-size: 15px;
        line-height: 16px;
    }
    .about-us__number__element::before {
        right: -15px;
    }
    .abouts-us {
        padding: 100px 0 120px;
    }
    /* about-us */

    /* cases */
    .circle-3 {
        bottom: 45px;
    }
    /* cases */

    /* big-form */
    .git-form-img {
        max-width: 350px;
    }
    .big-form__general {
        width: 610px;
        padding: 65px 30px 60px;
    }
    .big-form__substrate {
        width: 650px;
    }
    /* big-form */

    /* контент */
}
@media (max-width: 1440px) {
    /* контент */

    /* header */
    .header {
        padding-top: 70px;
        background-position-y: -95px;
    }
    .logo {
        max-width: 40px;
    }
    .logo-digital {
        max-width: 235px;
    }
    .header-logo {
        margin-bottom: 55px;
    }
    .header-title {
        margin-bottom: 35px;
        font-size: 45px;
    }
    .header-click {
        max-width: 600px;
        border: 1px solid whitesmoke;
    }
    .header-big {
        max-width: 600px;
    }
    /* header */

    /* big-form */
    .git-form-img {
        max-width: 260px;
    }
    /* big-form */

    /* контент */
}
@media (max-width: 1200px) {
    /* модалка */
    .modal-img {
        max-width: 350px;
    }
    .modal-dialog {
        max-width: 991px;
    }
    /* модалка */

    /* Спасибо */
    .thanks-list {
        max-width: 768px;
        padding: 120px 50px 50px;
    }
    .thanks-img {
        width: 300px;
    }
    /* Спасибо */

    /* контент */

    /* header */
    .header {
        padding-top: 35px;
        background-position-y: -130px;
    }
    .logo-digital {
        max-width: 150px;
    }
    .logo {
        max-width: 25px;
    }
    .header-logo {
        margin-bottom: 35px;
    }
    .header-title-mini {
        font-size: 30px;
    }
    .header-title {
        margin-bottom: 35px;
        font-size: 35px;
    }
    .header-click {
        padding: 10px 0 10px 10px;
        max-width: 555px;
    }
    .header-click__text {
        font-size: 14px;
        line-height: 18px;
    }
    .header-big {
        max-width: 425px;
    }
    /* header */

    /* about-us */
    .abouts-us-img {
        width: 350px;
        margin-left: 75px;
    }
    .abous-us__text {
        font-size: 17px;
        max-width: 510px;
        margin-bottom: 45px;
    }
    .abous-us__element__text {
        font-size: 12px;
        line-height: 15px;
    }
    .about-us__number__element::before {
        right: -17px;
    }
    /* about-us */

    /* cases */
    .cases {
        margin-top: 110px;
        padding-bottom: 230px;
    }
    .circle-1 {
        width: 240px;
    }
    .circle-2 {
        width: 240px;
        top: 34%;
    }
    .circle-3 {
        width: 250px;
        bottom: 35px;
    }
    .cases-town {
        margin-bottom: 60px;
    }
    .img-town {
        max-width: 420px;
    }
    .cases-town__left {
        max-width: 320px;
    }
    .cases-town__title {
        font-size: 66px;
        line-height: 76px;
    }
    .cases-town__name {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 35px;
    }
    .cases-town__number--title {
        font-size: 35px;
        line-height: 43px;
    }
    .cases-tow__text {
        font-size: 20px;
        line-height: 24px;
    }
    /* cases */

    /* big-form */
    .git-form-img {
        max-width: 230px;
    }
    .big-form-title {
        font-size: 33px;
    }
    .big-form-text {
        font-size: 15px;
        line-height: 20px;
        max-width: 445px;
    }
    .btn-big-form {
        width: 100%;
    }
    .big-form__general {
        width: 445px;
    }
    .big-form__substrate {
        width: 465px;
        height: 300px;
        bottom: -10px;
        left: -10px;
    }
    /* big-form */

    /* контент */
}
@media (max-width: 991px) {
    /* модалка */
    .btn-modal {
        width: 270px;
    }
    .input-modal {
        max-width: 270px;
    }
    .title-modal {
        font-size: 32px;
        line-height: 39px;
    }
    .modal-text {
        font-size: 14px;
        line-height: 17px;
        max-width: 290px;
    }
    .modal-img {
        max-width: 270px;
    }
    .modal-dialog {
        max-width: 768px;
    }
    .modal-content {
        padding: 85px 60px 55px 85px;
    }
    /* модалка */

    /* Спасибо */
    .thanks-list {
        padding: 120px 50px 20px;
    }
    .thanks-img {
        width: 250px;
    }
    /* Спасибо */

    /* контент */

    /* header */
    .header {
        background-position-y: -45px;
    }
    .header-logo {
        margin-bottom: 16px;
    }
    .header-title-mini {
        font-size: 22px;
    }
    .header-title {
        margin-bottom: 25px;
        font-size: 24px;
    }
    .header-click {
        padding: 10px;
        max-width: inherit;
        background: transparent;
        border-radius: 0;
        padding: 0;
        width: fit-content;
        border: none;
    }
    .header-click__text {
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
    }
    /* header */

    /* advantages */
    .advantages {
        padding: 30px 0 100px;
    }
    /* advantages */

    /* about-us */
    .title-bout-us {
        top: 0;
        transform: none;
    }
    .abouts-us-img {
        width: 400px;
        margin-left: 0;
        margin-bottom: 40px;
    }
    .about-us__number__element::before {
        display: none;
    }
    .abous-us__element__text {
        font-size: 19px;
        line-height: 19px;
    }
    .abous-us__text {
        font-size: 16px;
        max-width: 100%;
        margin-bottom: 45px;
        text-align: center;
    }
    /* about-us */

    /* big-form */
    .big-form {
        margin-bottom: 80px;
    }
    /* big-form */

    /* attention */
    .attention {
        margin-bottom: 80px;
    }
    .attention-text {
        font-size: 16px;
        line-height: 20px;
        max-width: 355px;
    }
    .attention-card {
        padding: 20px 20px 30px;
    }
    .attention-card__text {
        font-size: 12px;
        line-height: 15px;
    }

    /* attention */

    /* контент */
}
@media (max-width: 768px) {
    /* модалка */
    .modal-content {
        padding: 150px 25px 50px;
    }
    .modal-dialog {
        max-width: 320px;
        margin: 1.75rem auto !important;
    }
    /* модалка */

    /* Спасибо */
    .thanks-list {
        max-width: 320px;
        padding: 120px 40px 20px;
    }
    /* Спасибо */

    /* контент */

    /* header */
    .header {
        background-position-y: 0px;
    }
    .header-big {
        max-width: 250px;
    }
    /* header */

    /* about-us */
    .abouts-us {
        padding: 0 0 80px;
        background-color: transparent;
    }
    .abous-us__text {
        text-align: start;
        margin-bottom: 20px;
    }
    .about-us__number__element::before {
        display: table;
        left: 0;
        width: 150px;
        height: 1px;
        bottom: -25px;
        top: auto;
    }
    .abous-us__element__title {
        font-size: 50px;
        line-height: 72px;
    }
    /* about-us */

    /* cases */
    .cases {
        margin-top: 0;
        padding-bottom: 50px;
    }
    .circle-2 {
        width: 300px;
        top: 47%;
    }
    .cases-town__title {
        font-size: 55px;
        line-height: 67px;
    }
    .cases-town__name {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
    }
    .cases-town__left {
        padding: 0 15px;
        max-width: inherit;
    }
    .cases-town {
        margin-bottom: 20px;
    }
    .cases-town__number--title {
        font-size: 30px;
        line-height: 40px;
    }
    .cases-town__number--title::before {
        width: 16px;
        height: 16px;
        transform: translate(-250%, -50%);
        background-size: 16px;
    }
    .cases .container {
        padding: 0;
    }
    .cases-title {
        padding: 0 15px;
    }
    /* cases */

    /* working */
    .working {
        margin-bottom: 80px;
    }
    .general-card {
        width: 100%;
        height: 210px;
        max-width: 280px;
    }
    .working-card {
        width: 100%;
        height: 210px;
        max-width: 276px;
        border-radius: 20px;
        padding: 20px 16px 0 30px;
        background-color: #fff !important;
        z-index: 1;
    }

    .working-mob-under {
        position: absolute;
        top: -2px;
        right: 2px;
        background: linear-gradient(138deg, #6255c65e, #9109f65e);
        border-radius: 22px;
        z-index: -1;
        width: 280px;
        height: 214px;
    }
    .working-card-number__mob {
        background-image: linear-gradient(to bottom left, rgba(98, 85, 198, 0.369), rgba(145, 9, 246, 0.369));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 75%;
        right: 16px;
        bottom: 20px;
    }
    .working-card__title {
        font-size: 18px;
        line-height: 120%;
    }
    .working-card__text {
        font-size: 14px;
        line-height: 17px;
        max-width: 100%;
    }
    /* working */

    /* attention */
    .attention-card {
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }
    .attention-card__img {
        max-width: 137px;
    }
    .attention-card__text b {
        color: #7f2ae4;
    }
    /* attention */

    /* контент */
}
@media (max-width: 575px) {
    /* контент */

    /* header */
    .header {
        background-image: none;
        padding-bottom: 80px;
    }
    .header-title {
        margin-bottom: 0;
        font-size: 22px;
        text-align: center;
    }
    .header-mob {
        margin-bottom: 32px;
    }
    /* header */

    /* advantages */
    .advantages {
        padding: 0 0 80px;
    }
    .advantages-number img {
        width: 76px;
    }
    .advantages-block {
        margin-bottom: 35px;
    }
    .advantages-number {
        max-width: 400px;
        width: 100%;
    }
    .advantages-number__title {
        font-size: 18px;
    }
    .advantages-number__text {
        font-size: 18px;
        line-height: 22px;
    }

    /* advantages */

    /* cases */
    .cases-town {
        margin-bottom: 80px;
    }
    .circle-m-general {
        z-index: -1;
        right: 0;
    }
    .circle-m-1 {
        top: 45px;
    }
    .circle-m-2 {
        top: 34%;
    }
    .circle-m-3 {
        bottom: 26%;
    }
    .btn-cases {
        margin: 0 20px;
        width: 280px;
    }
    /* cases */

    /* big-form */
    .big-form .container {
        padding: 0;
    }
    .big-form-title {
        font-size: 30px;
    }
    .big-form-text {
        font-size: 14px;
        line-height: 18px;
    }
    .big-form__general {
        width: 320px;
        padding: 60px 15px;
    }
    .big-form__substrate {
        width: 290px;
        height: 300px;
        bottom: -20px;
        left: 15px;
    }
    .big-form__input {
        box-shadow: none !important;
    }
    /* big-form */

    /* контент */

    /* подвал */
    .footer {
        padding: 20px 0;
    }
    .footer-text {
        font-size: 13px;
    }
    /* подвал */
}
@media (max-width: 375px) {
    /* контент */

    /* header */
    .header {
        overflow: hidden;
    }
    .header-mob {
        max-width: 340px;
        transform: translateX(18px);
    }
    /* header */

    /* контент */
}
